body{
    font-family: "Poppins", sans-serif;
}

h1{
    text-align: center;
}

.himno-sena{
    text-align: center;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td:nth-child(1) {
    color: #4CAF50;
}

td:nth-child(2) {
    color: #ff5722;
}

td:nth-child(3) {
    color: #333;
}

.ejercicios{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

a{
    text-decoration: none;
    color: rgb(21, 96, 139);
    margin: 5px;
}

.links{
    width: 95%;
    display: flex;
    justify-content: center;
    padding: 15px;
    position: absolute;
    bottom: 0px;
}

.container-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.foto1, .foto2, .foto3 {
    width: 250px;
}